*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b0d10;
    color: #e6e6e6;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: rgba(16, 4, 57, 0.9);
    border-bottom: 1px solid rgba(223, 217, 243, 0.9);
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-left nav{
    display: flex;
    gap: 40px;
}

#navlogo{
    height: 36px;
    display: block;
}

.navbar a{
    color: #e6e6e6;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover{
    opacity: 0.8;
}

.nav-right a{
    font-weight: 600;
}